* {
    margin: 0;
    padding: 0;
}


.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

.navbar {
  display: flex;
  justify-content:space-between;
  align-items: center;
 list-style: none;
 background-color: #ffffff;
 /* padding-top: 16px;
 padding-bottom: 16px; */
 padding: 16px 120px;
 margin: 0;

}

.navbar .normal-click {
  display: flex;
  gap: 24px;
  font-size: 16px;
  font-weight: 500;
}

.navbar .normal-click a {
  text-decoration: none;
  color: #000000;
  font-size: 16px;
}
.navbar .normal-click a:hover {
  color: #007BFF;
}
.nav-button {
  background-color: #30B868;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 600;
  height: 44px;
  width: 164px;
  /* padding-right: 130px; */
}
.navbar .nav-button:hover {
  background-color: #28A745;
  cursor: pointer;
}


.banner {
  background: url(./../assets/hero-bg.png);
  background-repeat: no-repeat;
  background-size: c;
  background-position: top center;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 120px;
  color: white;
  border: #000000 1px solid;
}
.banner .early-access {
  background-color: #ffffff;
  height: 35px;
  width: 250px;
  text-align: center;
  font-size: 16px;
  color: #30B868;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 1000px;
  font-weight: 600;
  }

.banner h1 {
  font-size: 72px;
  font-weight: 700;
  margin-bottom: 16px;
  text-align: center;
}
.banner .another {
  color: #30B868;
}
.banner .des {
  font-size: 18px;
  line-height: 28px;
  color:#ffffff;
  text-align: center;
  margin-bottom: 32px;
}

.buttons {
  display: flex;
  gap: 16px;
}
.buttons .nav-button {
  width: 251px;
  height: 52px;
  text-align: center;
  display: flex; 
  align-items: center; 
  justify-content: center;
  gap: 8px;
}

.nav-button img {
  width: 20px;   /* icon size adjust */
  height: 20px;
  display:inline-block; 
}

.banner-button {
  background-color: transparent;
  border: #ffffff 2px solid;
  width: 198px;
  height: 52px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  border-radius: 4px;

}

.notes {
  margin-top: -120px;
}