* {
    margin: 0;
    padding: 0;
}


.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

.navbar {
  display: flex;
  justify-content:space-between;
  align-items: center;
 list-style: none;
 background-color: #ffffff;
 /* padding-top: 16px;
 padding-bottom: 16px; */
 padding: 16px 120px;
 margin: 0;

}

.navbar .normal-click {
  display: flex;
  gap: 24px;
  font-size: 16px;
  font-weight: 500;
}

.navbar .normal-click a {
  text-decoration: none;
  color: #000000;
  font-size: 16px;
}
.navbar .normal-click a:hover {
  color: #007BFF;
}

.navbar .nav-button {
  background-color: #30B868;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 600;
  height: 44px;
  width: 164px;
  /* padding-right: 130px; */
}
.navbar .nav-button:hover {
  background-color: #28A745;
  cursor: pointer;
}