* {
    margin: 0;
    padding: 0;
}


.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

.navbar {
  display: flex;
  justify-content:space-between;
  align-items: center;
 list-style: none;
 background-color: #ffffff;
 /* padding-top: 16px;
 padding-bottom: 16px; */
 padding: 16px 120px;
 margin: 0;

}

.navbar .normal-click {
  display: flex;
  gap: 24px;
  font-size: 16px;
  font-weight: 500;
}

.navbar .normal-click a {
  text-decoration: none;
  color: #000000;
  font-size: 16px;
}
.navbar .normal-click a:hover {
  color: #007BFF;
}
.nav-button {
  background-color: #30B868;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 600;
  height: 44px;
  width: 164px;
  /* padding-right: 130px; */
}
.nav-button:hover {
  background-color: #28A745;
  cursor: pointer;
}


.banner {
  background: url(./../assets/hero-bg.png);
  background-repeat: no-repeat;
  background-size: c;
  background-position: top center;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 120px;
  color: white;
  background-color: #fbfbfb;

}
.banner .early-access {
  background-color: #ffffff;
  height: 35px;
  width: 250px;
  text-align: center;
  font-size: 16px;
  color: #469165;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 1000px;
  font-weight: 600;
  }

.banner h1 {
  font-size: 72px;
  font-weight: 700;
  margin-bottom: 16px;
  text-align: center;

}
.banner .another {
  color: #30B868;
}
.banner .des {
  font-size: 18px;
  line-height: 28px;
  color:#ffffff;
  text-align: center;
  margin-bottom: 32px;
}

.buttons {
  display: flex;
  gap: 16px;
}
.buttons .nav-button {
  width: 251px;
  height: 52px;
  text-align: center;
  display: flex; 
  align-items: center; 
  justify-content: center;
  gap: 8px;
}


.nav-button img {
  width: 20px;   /* icon size adjust */
  height: 20px;
  display:inline-block; 
}

.banner-button {
  background-color: transparent;
  border: #ffffff 2px solid;
  width: 198px;
  height: 52px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  border-radius: 4px;

}

.banner-button:hover {
  background-color: #ffffff;
  color: #30B868;
  cursor: pointer;
}

.notes {
  margin-top: -120px;
  background-color: #fbfbfb;
} 
.notes h2 {
  font-size: 48px;
  font-weight: bold;
  color: #001931;
  text-align: center;
  margin-bottom: 16px;

}

.notes .ntext,p {
  font-size: 16px;
  color:#627382;
  text-align: center;
}

.notes .notes-box {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-top: 44px;

}
.notes-box .note-card {
  width:310px;
  height: 285px;
  border: #ffffff 1px solid;
  border-radius: 5px;
  background-color: #ffffff;
  box-shadow: 0 -10px 30px rgba(0, 0, 0, 0.05);

}

.notes-box .note-card img{
  width: 32px;
  height: 32px;
  display: block;
  background-color: #F95555;
  
  /* padding-top: ; */
  margin: 0 auto;
 
}
.icon-circle {
    width: 60px;
    height: 60px;
    background-color: #ff4d4d; 
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
   
    margin: 0 auto;
    margin-top: 70px;
}
.note-card p {
  padding: 0 24px;
}
.note-card h3 {
  text-align: center;
  margin: 0 auto;
  margin-top: 24px;
  font-size: 24px;
  margin-bottom: 16px;
  width: 274px;

  color: #001931;
}


.second-brain {
  background-color: #ffffff;
  margin: 120px;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  gap: 60px;
}


.second-brain .points {
  text-align: left;
}

.second-brain p {
    text-align: left;
    font-size: 16px;
    color: #627382;
    line-height: 20px;
}
.second-brain .points ul li {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 16px;
  color: #001931;
  font-size: 16px;
  font-weight: 500;
}
.second-brain .points .sol {
  margin-bottom: 16px;
}

.second-brain .points h2 {
  font-size: 48px;
  font-weight: bold;
  color: #001931;
  margin-bottom: 16px;
}

.second-brain .points .new {
  margin-bottom: 40px;
}


.early-access-again {
  margin: 0 120px 120px 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #F7F6F2;
  padding: 80px 0;
  border-radius: 12px;
}

.early-access-again h2 {
  font-size: 40px;
  margin-bottom: 16px;
}

.early-access-again .join {
  margin-bottom: 24px;
  line-height: 24px;
  font-size: 16px;
}

.early-access-again .nav-button {
  width: 194px;
  height: 52px;
  text-align: center;
  display: flex; 
  align-items: center; 
  justify-content: center;
  gap: 8px;
  margin-bottom: 16px;
}

.footer {
  
  display: flex;
  justify-content: space-between;
  padding: 120px 120px 0 120px;
  margin-bottom: 80px;
}
footer {
background-color: #001931;
}

hr {
  margin: 0 120px;
  opacity: 20%;
/*  */
} 

footer .copyright {
  padding: 30px 0;
  color: #FAFAFA;
  line-height: 24px;
  font-size: 16px;
}
footer .social {
  padding-right: 60px;
}
footer .social a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  background-color: #ffffff;
  border-radius: 50%;
  text-decoration: none;
  margin-right: 10px;
  color: black
}

footer .social a:hover {
  background-color: #28A745;
  color: white;
}

footer .social p {
  line-height: 28px;
  font-size: 20px;
  margin-bottom: 16px;
  color: #ffffff;
}